input{
    text-align: center;
  }
  
  .list{
    /*background: purple;*/
    position: relative;
    left:0;
    top:-20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal{
    background: red;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 580px;
    height: 320px;
    background: #fff;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  .modal input{
    padding: 5px 3px;
    width: 480px;
    height: 35px;
    display: block;
    margin: 40px auto 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    
  }
  
  .component{
   /* background-color: purple; */
    width: 90%;
    padding: 0 5px;
    position: relative;
    top:-20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  